h1 {
	color:#24c6cc;
	font-size:55px;
	font-family: 'Pacifico', cursive;
	text-align: center;
	}

h4 {
	font-family: 'Pacifico', cursive;
	text-align: center;
	}

.paddingas {
	padding: 10px;
	background: yellow;
	border: solid 2px black;
	width: 100%;
			}

.gabaritas1 { width: 50%;
		float: left;
		margin-left: 10px;
		margin-right: 10px;
}

.gabaritas2 {
	height: 400px;
}

<style>
    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 1;
        left: 1;
        width: 30% !important;
        height: 30% !important;
    }
</style>
